

/**** Navbar ****/
.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}


/**** Store ****/
.store-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.product {
  color: black;
  text-decoration: none;
  width: 300px;
  border: 1px solid lightgray;
  margin: 13px 10px;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  400ms linear;
}
.product:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(238, 238, 238, 0.4);
}
.product-inner-wrapper {
  position: relative;
}
.count-badge {
  position: absolute;
  top: -15px;
  right: -10px;
  width: 40px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(68, 78, 97);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 3px;
}
.prod-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  height: 63px;
  margin: 8px;
  text-overflow: ellipsis;
}
.item-image-wrapper {
  width: 235px;
  position: absolute;
}
.item-image {
  display: flex;
  justify-content: center;
  margin: 7px;
}
.item-image img {
  width: 90%;
  height: 300px;
  object-fit: fit;
}
.item-stamp {
  color: red;
  font-size: 1.8rem;
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: -33px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
}
.products-item-description {
  margin: 8px;
  height: 63px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.itemPrice {
  display: flex;
  justify-content: space-around;
  /* margin: 8px; */
  font-size: 1.3rem;
}
.item-quantity {
  /* margin: 8px; */
  /* margin-top: 15px;
  margin-bottom: 15px; */
}
.in-stock {
  text-align: center;
  font-size: 1.2rem;
}
.out-of-stock {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(255, 188, 188);
}
.products-item-quantity {
  font-size: 2.0rem;
  padding: 15px;
  /* padding-top: 12px; */
  background-color: black;
  color: white;
  border-radius: 2px;
  text-align: center;
  /* min-height: 35px; */
  margin-top: 5px;
}

/**** Product Detail ****/
.detail-wrapper {
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
}
.detail-img-wrapper {
  width: 45%;
}
.detail-img-wrapper img {
  max-width: 300px;
  height: 300px;
  object-fit: fit;
}
.detail-details-wrapper {
  width: 45%;
  padding: 8px;
  font-size: 1.2rem;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.detail-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.detail-img-wrapper img {
  max-width: 300px;
  height: 300px;
  object-fit: fit;
}
.add-to-cart-wrapper {
  display: flex;
  justify-content: space-around;
  /* margin-top: 35px; */
}
.detail-description {
  /* margin: 15px 10px 15px 10px; */
}
.counter {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.counter .number {
  font-size: 1.8rem;
  font-weight: bold;
}
.count-button {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: transparent;
  padding: 3px;
}
.count-button:hover {
  cursor: pointer;
  color: rgb(133, 133, 133);
}
.add-to-cart-btn {
  font-size: 1.8rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 20px 3px 20px;
  background-color: rgb(133, 133, 133);
  color: white;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: lightgray;
  color: rgb(133, 133, 133);
}
.back-to-store-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}
.back-to-store-btn {
  color: rgb(14, 14, 92);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.back-to-store-btn:hover {
  cursor: pointer;
  color: rgb(133, 133, 133);
}
.unsaved-changes {
  text-align: center;
  font-weight: bold;
  color: rgb(228, 1, 1);
}
.btn-warning {
  background-color: rgb(209, 0, 0);
}



/**** Cart Counter Badge ****/
.cart-count-badge {
  text-decoration: none;
  margin-left: 3px;
}
.cart-holder-icon {
  outline: 1px solid lime;
}
.cart-icon {
  font-size: 1.7rem;
  color: rgb(169, 170, 173);
}
.cart-icon:hover {
  cursor: pointer;
}


.icon-link {
  color: gray;
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.icon-active {
  color: purple;
  font-size: 1.7rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between
}

.link-login {
  margin-right: 8px;
}
.link {
  color: gray;
  text-decoration: none;
  font-size: 1.4rem;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
.dash-link {
  padding: 4px 15px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
  margin-left: 10px;
}
.dash-link:hover {
  cursor: pointer;
  background-color: lightgray;
  color: black;
}
.dash-active {
  background-color: purple;
  color:white;
}
.dash-active:hover {
  background-color: purple;
  color:white;
}
.active {
  color: purple;
  text-decoration: underline
}
.link-login-inactive {
  color: gray;
  text-decoration: none;
  margin-right: 10px;
}
.cart-clear-cart {
  text-align: center;
}
.cart-clear-cart:hover {
  cursor: pointer;
  color: rgb(169, 170, 173);
}
.nav-login-cart {
  display: flex;
  justify-content: space-between
}

.checkout-btn-wrapper {
  text-align: center;
}





.checkout-btn {
  margin-top: 50px;
  font-size: 1.8rem;
  /* border: 1px solid lightgray; */
  border-radius: 5px;
  padding: 3px 20px 3px 20px;
  /* background-color: rgb(133, 133, 133); */
  color: white;
  color: red;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.checkout-btn:hover {
  cursor: pointer;
  /* background-color: lightgray; */
  color: rgb(133, 133, 133);
}

.cart-back-to-store-btn {
  color: rgb(14, 14, 92);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
  font-size: 1.8rem;
  color: green;
}
.cart-back-to-store-btn:hover {
  cursor: pointer;
  color: rgb(133, 133, 133);
}

/**** Admin Page ****/
.admin-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.admin-wrapper h1 {
  text-align: center;
}

#new-item-form {
  font-size: 1.3rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.new-form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.new-item-label {
  margin-right: 10px;
  width: 25%;
  display: inline-block;
  text-align: right;
}
.input-container {
  outline: 1px solid lime;
}
.new-item-input-wrapper{
  width: 100%;
}
.new-item-input {
  width: 90%;
  font-size: 1.3rem;
}
.new-submit {
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}
.new-item-clear {
  margin-left: 15px;
  color: blue;
}
.new-item-clear:hover {
  cursor: pointer;
  margin-left: 15px;
  color: rgb(177, 177, 239);
}
.new-item-description {
  font-size:.8rem;
  text-decoration: italic;
  color: gray;
}
.invalid-item-error {
  font-size: .9rem;
  text-decoration: italic;
  color: red;
  text-align: center;
  font-weight: bold;
}



.dashboard-navbar-wrapper {
  display: flex;
  /* justify-content: space-around; */
  margin: 10px;
}
.no-margin {
  margin: 0px;
}
.dummy-div {
  width: 120px;
  height: 5px;
}
.dashboard-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 0px;
  /* outline: 1px solid lightgray; */
}

/**** Edit Product ****/
.item-wrapper {
  border: 1px solid gray;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.item-quantity {
  font-size: 2.0rem;
  padding: 5px;
  padding-top: 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
  text-align: center;
  min-height: 68px;
}
    .item-quantity-txt {
      /* outline: 1px solid red; */
      font-size: .8rem;
      font-style: italic;
    }

.item-picture {
  /* outline: 1px solid red; */
  width: 75px;
  height: 75px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.item-picture img {
  /* outline: 1px solid red; */
  width: 75px;
  height: 75px;
}
.item-info {
  /* outline: 1px solid red; */
  min-height: 75px;
}
    .item-title {
      font-weight: bold;
    }
    .item-id {
      font-size: .8rem;
      font-style: italic;
    }
.item-price-data {
  /* outline: 1px solid red; */
  min-height: 75px;
}
.item-description {
  /* outline: 1px solid red; */
  min-height: 75px;
  width: 45%;
}
.item-delete {
  /* outline: 1px solid red; */
  margin-right: 10px;
  color: red;
}
.item-delete:hover {
  cursor: pointer;
  color: rgb(187, 68, 68);
}

.price-line-wrapper {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.products-category {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


/**** Login Page ****/
.login-wrapper {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
 
}
.login-wrapper h2 {
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px; 
  margin-bottom: 25px; 
}
.login-button {
  font-size: 1.4rem;
  background-color: none;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  margin-top: 30px;
  font-weight: bold;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.login-button:hover {
  cursor:pointer;
  background-color: lightgray;
}



.logout-button {
  /* font-size: 1rem; */
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.logout-button:hover {
  cursor:pointer;
  color: lightgray;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-wrapper img {
  height: 250px;
  width: 250px;
}
.error-wrapper h2 {
  text-align: center;
}
.error-wrapper h3 {
  text-align: center;
  color: rgb(207, 3, 3);
  margin: 20px;
  font-size: 1.6rem;
}
.error-wrapper h3:hover {
  cursor: pointer;
  color: rgb(248, 99, 99);
}






/**** Home Page ****/
.home-wrapper {
  /* outline: 1px solid blue; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;


}