

/**** Navbar ****/
.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.link {
  color: gray;
  text-decoration: none;
  font-size: 1.4rem;
}
.active {
  color: purple;
  text-decoration: underline
}

/**** Store ****/
.store-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


.product {
  color: black;
  text-decoration: none;
  width: 300px;
  border: 1px solid lightgray;
  margin: 13px 10px;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  400ms linear;
}
.product:hover {
  cursor: pointer;
  border: 1px solid black;
  background-color: rgba(238, 238, 238, 0.4);
}
.product-inner-wrapper {
  position: relative;
}
.count-badge {
  position: absolute;
  top: -15px;
  right: -10px;
  width: 40px;
  height: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(68, 78, 97);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 3px;
}
.prod-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
  height: 63px;
  margin: 8px;
  text-overflow: ellipsis;
}
.item-image {
  display: flex;
  justify-content: center;
  margin: 7px;
}
.item-image img {
  width: 90%;
  height: 300px;
  object-fit: fit;
}
.item-description {
  margin: 8px;
  height: 63px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}
.itemPrice {
  display: flex;
  justify-content: space-around;
  /* margin: 8px; */
  font-size: 1.3rem;
}
.item-quantity {
  /* margin: 8px; */
  /* margin-top: 15px;
  margin-bottom: 15px; */
}
.in-stock {
  text-align: center;
  font-size: 1.2rem;
}
.out-of-stock {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(132, 0, 0);
}

/**** Product Detail ****/
.detail-wrapper {
  width: 90%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
}
.detail-img-wrapper {
  width: 45%;
}
.detail-img-wrapper img {
  max-width: 300px;
  height: 300px;
  object-fit: fit;
}
.detail-details-wrapper {
  width: 45%;
  padding: 8px;
  font-size: 1.2rem;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.detail-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
.detail-img-wrapper img {
  max-width: 300px;
  height: 300px;
  object-fit: fit;
}
.add-to-cart-wrapper {
  display: flex;
  justify-content: space-around;
  /* margin-top: 35px; */
}
.detail-description {
  /* margin: 15px 10px 15px 10px; */
}
.counter {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.counter .number {
  font-size: 1.8rem;
  font-weight: bold;
}
.count-button {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: transparent;
  padding: 3px;
}
.count-button:hover {
  cursor: pointer;
  color: rgb(133, 133, 133);
}
.add-to-cart-btn {
  font-size: 1.8rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 3px 20px 3px 20px;
  background-color: rgb(133, 133, 133);
  color: white;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.add-to-cart-btn:hover {
  cursor: pointer;
  background-color: lightgray;
  color: rgb(133, 133, 133);
}
.back-to-store-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}
.back-to-store-btn {
  color: rgb(14, 14, 92);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition:  200ms linear;
}
.back-to-store-btn:hover {
  cursor: pointer;
  color: rgb(133, 133, 133);
}
.unsaved-changes {
  text-align: center;
  font-weight: bold;
  color: rgb(228, 1, 1);
}
.btn-warning {
  background-color: rgb(209, 0, 0);
}



/**** Cart Counter Badge ****/
.cart-count-badge {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(68, 78, 97);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-holder-icon {
  outline: 1px solid lime;
}
.cart-icon {
  font-size: 1.7rem;
  color: rgb(169, 170, 173);
}
.cart-icon:hover {
  cursor: pointer;
}

.active-cart {
  
}


.icon-link {
  color: gray;
  font-size: 1.7rem;
}
.icon-active {
  color: purple;
  font-size: 1.7rem;
  text-decoration: none;
}
.cart-clear-cart {
  text-align: center;
}
.cart-clear-cart:hover {
  cursor: pointer;
  color: rgb(169, 170, 173);
}

